<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147286494123-dndk93ve81ju9n90a4qfg9oa1asof7f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147286494123-dndk93ve81ju9n90a4qfg9oa1asof7f3</string>
	<key>API_KEY</key>
	<string>AIzaSyAihAclR6sw7ceO-56x3C2Rv4uF-v5sZDU</string>
	<key>GCM_SENDER_ID</key>
	<string>147286494123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseseries</string>
	<key>PROJECT_ID</key>
	<string>fir-series-c00cf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-series-c00cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147286494123:ios:474fa1888eb5dd2899a0ee</string>
</dict>
</plist>